<ul class="nav flex-column below-nav-items align-items-center mx-0">
    <li class=" nav-item divider text-center mx-0"
    matTooltip="About me"
    matTooltipPosition="right"
     >
      <a class="nav-link mx-0 px-0 " routerLink="/about" routerLinkActive="active-link">
        <i class="fa fa-user fa-lg d-block py-3" aria-hidden="true"></i>
      </a>
    </li>
    <li class=" nav-item divider text-center"
    matTooltip="Resume"
    matTooltipPosition="right">
      <a class="nav-link mx-0 px-0" routerLink="/resume" routerLinkActive="active-link">
        <i class="fa fa-file-text fa-lg d-block py-3 " aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item divider text-center"
    matTooltip="Works"
    matTooltipPosition="right">
      <a class="nav-link mx-0 px-0" routerLink="/works" routerLinkActive="active-link">
        <i class="fa fa-paint-brush fa-lg d-block py-3" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item divider text-center"
    matTooltip="Blog"
    matTooltipPosition="right">
      <a class="nav-link mx-0 px-0" routerLink="/blog" routerLinkActive="active-link">
        <i class="fa fa-commenting fa-lg d-block py-3" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item divider text-center"
    matTooltip="Contact"
    matTooltipPosition="right">
      <a class="nav-link mx-0 px-0" routerLink="/contact" routerLinkActive="active-link">
        <i class="fa fa-at fa-lg d-block py-3 " aria-hidden="true"></i>
      </a>
    </li>
  </ul>
