<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        attr.role="dialog"
        mode="over"
        [opened]= controller>
      <div class="mt-5 pb-3 pl-3">
        <div class="header ">
            <h1 class="d-inline  header-colored " >H</h1>
            <h1 class="d-inline ">ello</h1>
            <div class=" sm-log-out">
                <div *ngIf="user$ | async as user else null" class=" p-0 py-0 ">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" class="log-out" >
                        <button mat-menu-item (click)="logOut()">
                            logOut
                        </button>
                    </mat-menu>
            </div>
            </div>
        </div>
      </div>
      <mat-nav-list>
        <side-blogs (click)="drawer.close()" ></side-blogs>
        <side-comments></side-comments>
        
      </mat-nav-list>
    </mat-sidenav>
<div class=" app-container d-flex p-sm-0">
        <div *ngIf="user$ | async as user else null" class="user p-0 py-0 ">
                <div class="px-0 py-2 ">
                <div class="d-inline">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon class="logout-icon" >more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" class="log-out" >
                        <button mat-menu-item (click)="logOut()">
                            logOut
                        </button>
                    </mat-menu>
                </div>
                <div class="user-name d-inline-block">
                    <h2 class="p-0 m-0">
                        {{user.displayName}}
                    </h2>
                </div>
                <div class="userphoto d-inline-block px-2">
                    <img src="{{user.photoURL}}" alt="">
                </div>
            </div>   
        
        </div>
    
    <div class=" container main-container my-auto p-sm-0">
        <!-- Main Row Content -->
        <div class="row left-side-container d-flex ">
            <div class="col-sm-5 h-100 p-0">
                <div class="row h-100 p-0 d-flex ">
                    <div class="col-sm-1 p-0 my-auto text-center w-100 bar-container">
                        <div class="row p-0 text-center responsive-fixed ">
                            <!-- SideBar Click Icon -->
                            <div class="col-md-12 p-0 m-0 w-100 a">
                                <div class=" row mb-2 side-bar-icon mx-0 py-2 align-items-center text-center ">
                                    <div class="pl-2 col-10 profile-resp-holder my-0 py-2">
                                        <div class="mx-2 profile-small-pic"></div>
                                        <div class="profile-content my-0 py-0">
                                            <h1 class="my-0 py-0">
                                                Ryan Adlard
                                            </h1>
                                            <text-animation></text-animation>
                                        </div>
                                    </div>
                                        <button
                                        type="button"
                                        aria-label="Toggle sidenav"
                                        mat-icon-button
                                        (click)="drawer.toggle()"
                                        class="mx-auto p-0 " routerLinkActive="active-link">
                                        <i class="fa fa-bars fa-2x mx-0 px-0 " aria-hidden="true" ></i>
                                    </button>
                                </div>
                            </div>
                            <!-- navBar -->
                            <div class="col-md-12 p-0 m-0 ">
                                <root-nav>
                                </root-nav>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-11 w-100 h-100 m-0 p-0  d-flex profile ">
                        <div class="w-100 h-100 p-0 m-0 profile-container">
                            <div class="m-0 p-0 w-100 profile-holder text-center justify-content-center ">
                                <div class="profile-pic mx-auto p-0"></div>
                                <div class="profile-content ">
                                    <h1 class="mt-4">
                                        Ryan Adlard
                                    </h1>
                                    <text-animation></text-animation>
                                </div>
                                <div class="icons">
                                    <icons></icons>
                                </div>
                                <div class="row footer mx-auto h-1 ">
                                    <div class="col-6 "
                                    (click)="downloadCV()">
                                        <h3> Download CV </h3>
                                    </div>
                                    <div class="col-6 row-divider">
                                        <h3 routerLink="/contact">
                                            Contact Me
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 my-auto routing-content text-wrap p-0" #mainContent>
                <router-outlet (activate)="onActivate($event)" ></router-outlet>
            </div>
        </div>
    </div>
</div>

</mat-sidenav-container>