<div  @slide >
    <div class="py-3 pl-4">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true" routerLink="/blog"></i>
    </div>
    <div class="text-center">
        <div class="card" >
            <img src="{{blogId.imgUrl}}" class="card-img" alt="blog" @smoothFadeIn>
        </div>
        <div class="card-body text-center" @smoothFadeIn>
            <p class="date text-center mx-auto">
                {{blogId.date}}
            </p>
            <h3 class="blog-card-title">By spite about do of allow</h3>
            <h4 class="bold text-muted px-2">
                Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Te cule tation
                munere noluisse. Enim torquatos…
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus maiores provident alias, magnam voluptatum nihil adipisci repudiandae culpa ab esse. Officiis, veniam omnis beatae facilis similique eaque cum ea ut.
            </h4>
        </div>
    </div>
    </div>
