<div class="d-flex w-100" >
<mat-dialog-content  class=" main-container m-auto">

    <div class="container social" >
        <div class="card"  >
            <img src="https://bslthemes.com/ryan/demo/images/works/work7.jpg" class="card-img" alt="web">
        </div>
        <h1 class="py-4 mt-4">Web Application</h1>
        <p>
            So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.
            <br>
            Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old.
        </p>
        <div class="blockquote-footer">
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque suscipit
        </div>
        <p class="py-3">
            Tiled say decay spoil now walls meant house. My mr interest thoughts screened of outweigh removing. Evening society musical besides inhabit ye my. Lose hill well up will he over on. Increasing sufficient everything men him admiration
        </p>
        <ul class="list-unstyled">
            <li><i class="fa fa-check-square-o"></i>
                Greatest properly off ham exercise all.
            </li>
            <li><i class="fa fa-check-square-o"></i>
                Unsatiable invitation its possession nor off.</li>
            <li><i class="fa fa-check-square-o"></i>
                All difficulty estimating unreserved increasing the solicitude.
            </li>
        </ul>
    </div>

    <div class="close-btn">
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-dialog-content>
</div>