.blog-container{
    background-color: #191923;
}
.header h1{
	color: #ddd;
	font-weight: bold !important;
	letter-spacing: 0.05em;
	text-shadow: -1px 1px 2px #444444;
}
.header-colored{
	position: relative;
	border-radius: 50%;
	color: #3e3eb7 !important;	
}
.header-colored:before{
	position: absolute;
	left: -12px;
	top: 2px;
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-image: linear-gradient(to left, rgba(62,62,183, 0.15),rgba(62,62,183, 0.1),rgba(62,62,183, 0.3));
}
.divider:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 5%;
	width: 90%;
	height: 1px;
    background-image: linear-gradient(to right, transparent, #444, transparent);
    background-image: -moz-linear-gradient(to right,transparent, #444, transparent);
    background-image: -webkit-linear-gradient(to right, transparent, #444, transparent);
    background-image: -o-linear-gradient(to right, transparent, #444, transparent);
}
i{
	color: #3e3eb7;
}
h4{
	color: #bbb;
}
.date{
	width: 120px;
	border: 2px solid #3e3eb7 !important;
	color: #3e3eb7;
	/* padding: 2px; */
	background-color: transparent;
	border-radius: 5px !important;
}
.blog-item{
	transition: 0.5s ease-in-out;
	border-radius: 10px;
}
.blog-item:hover{
	transform: translateY(-2px);
	box-shadow: 2px 2px 5px rgba(204,204,204, 0.2);
}
.card{
    background-color: #191923;
    padding: 0px !important;
    border: 0px !important;
	overflow: hidden;
}
.card-img-overlay{
    cursor: pointer;
    border: 0px !important;
	transition: 0.5s ease-in-out;
	background-color: rgba(62,62,183, 0.2);
	visibility: hidden;
    opacity: 0;
}
.card-img-overlay i{
	color: #eee;
}
.card-img{
    cursor: pointer;
    padding: 0px !important;
    border: 0px !important;
    transition: 0.5s ease-in-out;
}
.blog-col:hover .card-img-overlay{
    border: 0px !important;
	visibility: visible;
	opacity: 1;
}
.blog-col:hover .card-img{
    padding: 0px !important;
    border: 0px !important;
    transform: scale(1.1);
}
.blog-card-title{
	transition: 0.5s ease-in-out;
    cursor: pointer;
    color: #bbb;
    font-weight: 500;
}
.blog-col:hover .blog-card-title{
    color: #3e3eb7;
}
span{
    color: #aaa;
    font-weight: 500;
}
/* ::ng-deep .ngb-pagination{
    background-color: #555 !important;
} */